@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* White for dark mode */
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --text-color: rgb(var(--foreground-rgb)); /* Text color for dark mode */
}

body {
  color: var(--text-color); /* Use the text color variable */
  background-color: rgb(var(--background-color)); /* White background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#particles {
  z-index: -1;
}
